* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  main {
    overflow-y: auto;
    flex-grow: 1;
  }
  
  footer {
    
  }
  footer li {
    list-style: none;
}

footer .titulo {
  font-size: 1.7em;
  margin-bottom: 15px;
}

footer .company p {
  font-size: 0.8em;
}

footer .company {
  color: #939393;
}

footer .phone, footer .social {
  font-size: 1.4em;
  color: #939393;
}

footer ul, footer ol {
  padding-left: 0 !important;
}

  .footer-menu a {
    color: #666666;
}

footer .phone a, footer .social a {
  font-size: 1.4em;
  color: #939393;
}

a {
  text-decoration: none;
}

.footer-menu > ul li {
  display: inline-block;
  margin-left: 3%;
  margin-right: 3%;
}
  
  .boton-cuadrado {
    width: 150px;
    height: 200px;
    background-color: white;
    border: none;
    color: black;
    font-size: 14px;
    transition: transform 0.2s;
    border-radius: 10px;
  }
  
  .boton-cuadrado:hover {
    transform: scale(1.1);
  }
  
  .gradient {
    background: #000000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #ff0000, #000000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #ff0000, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }

  .logo-img {
    max-width: 100%;
    height: auto;
  }
  
  .bg_black {
    background: #111111;
  }

  .table-container {
    max-height: calc(100vh - 200px); /* Ajusta este valor según tus necesidades */
    max-width: 100vw;
  }

  .first-column {
    width: 40%;
  }
  
  tbody tr {
    border-bottom: 1px solid #ddd;
  }
  
  tbody tr:last-child {
    border-bottom: 2px solid #000;
  }
  .line-row .line-cell {
    border-top: 2px solid #000;
    padding-top: 10px;
  }
  

  
  
  
  
  